loki:
  auth_enabled: false

singleBinary:
  replicas: 1

# Storage simple para homelab (PV)
# Más adelante puedes migrar a MinIO/S3.
storage:
  type: filesystem

persistence:
  enabled: true
  size: 20Gi

service:
  type: ClusterIP

# Etiquetas por defecto y límites razonables
limits_config:
  retention_period: 168h # 7 días
  reject_old_samples: true
  reject_old_samples_max_age: 168h

schema_config:
  configs:
    - from: "2024-01-01"
      store: tsdb
      object_store: filesystem
      schema: v13
      index:
        prefix: loki_index_
        period: 24h
