deploymentMode: SingleBinary

loki:
  auth_enabled: false

  commonConfig:
    replication_factor: 1

  ingester:
    lifecycler:
      ring:
        replication_factor: 1

chunksCache:
  enabled: true
  allocatedMemory: 1024
  resources:
    requests:
      cpu: 100m
      memory: 1Gi
    limits:
      memory: 1Gi




  storage:
    type: filesystem
    bucketNames:
      chunks: loki-chunks
      ruler: loki-ruler
      admin: loki-admin

  # ✅ OBLIGATORIO: schema_config
  schemaConfig:
    configs:
      - from: "2024-01-01"
        store: boltdb-shipper
        object_store: filesystem
        schema: v13
        index:
          prefix: loki_index_
          period: 24h

  # ✅ Recomendado para filesystem + boltdb-shipper
  storageConfig:
    boltdb_shipper:
      active_index_directory: /var/loki/index
      cache_location: /var/loki/cache
      shared_store: filesystem
    filesystem:
      directory: /var/loki/chunks

singleBinary:
  replicas: 1
  extraArgs:
    - -validation.allow-structured-metadata=false

read:
  replicas: 0
write:
  replicas: 0
backend:
  replicas: 0

persistence:
  enabled: true
  size: 20Gi

service:
  type: ClusterIP

limits_config:
  allow_structured_metadata: false
  retention_period: 168h # 7d
  reject_old_samples: true
  reject_old_samples_max_age: 168h
