loki:
  auth_enabled: false

  # El chart necesita estos nombres aunque uses filesystem
  storage:
    type: filesystem
    bucketNames:
      chunks: loki-chunks
      ruler: loki-ruler
      admin: loki-admin

singleBinary:
  replicas: 1

persistence:
  enabled: true
  size: 20Gi

service:
  type: ClusterIP

limits_config:
  retention_period: 168h # 7d
  reject_old_samples: true
  reject_old_samples_max_age: 168h
