deploymentMode: SingleBinary

loki:
  auth_enabled: false
  storage:
    type: filesystem
    bucketNames:
      chunks: loki-chunks
      ruler: loki-ruler
      admin: loki-admin

singleBinary:
  replicas: 1

# ✅ apaga simple scalable (aunque no lo tengas hoy, así no hay defaults que choquen)
read:
  replicas: 0
write:
  replicas: 0
backend:
  replicas: 0

persistence:
  enabled: true
  size: 20Gi

service:
  type: ClusterIP

limits_config:
  retention_period: 168h # 7d
  reject_old_samples: true
  reject_old_samples_max_age: 168h
